{% extends "components/_base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">

<link rel="stylesheet" href="{% static 'css/animation.css' %}">

<style>
    /* For Correct/Incorrect overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        /* Start mit unsichtbarem Overlay */
        transition: visibility 0.4s ease;
        /* Füge einen sanften Übergang für die Sichtbarkeit hinzu */
    }

    .overlay i {
        font-size: 5rem;
    }
</style>
{% endblock %}


{% block content %}


<!-- HTML-Code für die Symbole -->
<div id="correct-overlay" class="overlay">
    <i class="bi bi-check-circle-fill" style="color: green;"></i>
</div>

<div id="incorrect-overlay" class="overlay">
    <i class="bi bi-x-circle-fill" style="color: red"></i>
</div>


<br>
<br>


<div class="row align-items-end mb-4">
    <div class="col-6">
        <h1 class="text-start">Competitive Areas</h1>
    </div>
    <div class="col-6">
        <h4 class="text-end">Highscore: <span id="high_score"></span></h4>
    </div>
</div>

<br>

<div class="col-10 mx-auto">
    <div class="row">
        <div class="col-6 text-center mb-3">
            <h2 id="country1-name"></h2>
        </div>

        <div class="col-6 text-center mb-3">
            <h2 id="country2-name"></h2>
        </div>


    </div>

    <div class="row">

        <div class="col-6 text-center">
            <img id="image1" src="" alt="flag of country" class="img-fluid zoom" style="max-width: 55%; max-height: 55%">
            <p class="mt-4">Area: <span id="country1-area"></span> km&sup2;</p>
        </div>

        <div class="col-6 text-center">
            <img id="image2" src="" alt="flag of country" class="img-fluid zoom" style="max-width: 55%; max-height: 55%">
        </div>


    </div>

    <p class="text-center my-5">{% trans "Is the area of the country on the right higher or lower?" %}</p>

    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center text-center">
        <button id="lower-button" type="button" class="btn btn-outline-danger my-1 mx-5 order-3 order-md-1">{% trans "Lower" %} <i class="bi bi-chevron-double-down ms-1"></i></button>
        <span class="order-1 order-md-2 my-1">{% trans "score" %}: <span id="score"></span></span>
        <button id="higher-button" type="button" class="btn btn-outline-success my-1 mx-5 order-2 order-md-3">{% trans "Higher" %} <i class="bi bi-chevron-double-up ms-1"></i></button>
    </div>

    <br>
    <br>

    <!-- Leaderboard Accordion -->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {% trans "Leaderboard" %}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{% trans "Username" %}</th>
                                    <th scope="col">Highscore</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<br>

<script>
    let score = {{ score }}
    let highscore = {{ highscore }}

    let country1 = {{ country1 | safe }}
    let country2 = {{ country2 | safe }}

    // DOM-Elemente initialisieren
    const country1_name = document.getElementById("country1-name")
    const country2_name = document.getElementById("country2-name")
    const image1 = document.getElementById("image1")
    const image2 = document.getElementById("image2")
    const country1_area = document.getElementById("country1-area")
    const score_span = document.getElementById("score")
    const highscore_span = document.getElementById("high_score")

    const lowerButton = document.getElementById("lower-button")
    const higherButton = document.getElementById("higher-button")

    lowerButton.addEventListener("click", lowerButtonClickHandler)
    higherButton.addEventListener("click", higherButtonClickHandler)

    function lowerButtonClickHandler() {
        sendChoice("lower");
    }

    function higherButtonClickHandler() {
        sendChoice("higher");
    }

    // First load initialization
    updateDisplay()

    function sendChoice(userChoice) {
        let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

        fetch('/{{ LANGUAGE_CODE }}/worldle/areas/competitive/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken
            },
            body: 'choice=' + userChoice
        })
            .then(response => response.json())
            .then(data => {
                country1 = data["country1"]
                country2 = data["country2"]
                score = data["score"]
                highscore = data["highscore"]
                updateDisplay()

                let is_correct = data["is_correct"]
                showOverlay(is_correct)

            })
            .catch(error => console.error('Error:', error))
    }

    function showOverlay(isCorrect) {
        let id = ""
        if (isCorrect) {
            id = "correct-overlay"
        } else {
            id = "incorrect-overlay"
        }

        const overlay = document.getElementById(id)
        overlay.style.visibility = "visible"

        // verzögertes Ausblenden des Overlays
        setTimeout(() => {
            overlay.style.visibility = "hidden"

        }, 500)
    }

    function updateDisplay() {
        updateLeaderboard()

        country1_name.innerText = country1["name"]
        country2_name.innerText = country2["name"]
        image1.src = country1["image_url"]
        image2.src = country2["image_url"]
        country1_area.innerText = country1["area"]
        score_span.innerText = score
        highscore_span.innerText = highscore
    }


    function updateLeaderboard() {
        fetch('/{{ LANGUAGE_CODE }}/worldle/leaderboards/areas_highscore/')
            .then(response => response.json())
            .then(data => {
                console.log(data)

                const tbody = document.querySelector(".table tbody")
                tbody.innerHTML = ""

                data.forEach((user, index) => {
                    const tr = document.createElement("tr")
                    const th = document.createElement("th")
                    th.scope = "row"
                    th.textContent = index + 1

                    const tdUsername = document.createElement("td")
                    tdUsername.textContent = user.username

                    const tdHighscore = document.createElement("td")
                    tdHighscore.textContent = user.highscore

                    tr.appendChild(th)
                    tr.appendChild(tdUsername)
                    tr.appendChild(tdHighscore)

                    tbody.appendChild(tr)
                })

            }).catch(error => console.error('Error:', error))
    }

</script>

{% endblock content %}