{% extends "components/_base.html" %}

{% load i18n %}
{% load static %}
{% load macros %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}" />
{% endblock %}


{% block content %}
{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE != "en" %}
{% trans "Please note that the games themselves will continue to be in English." as message_txt %}
{% template_message "info" message_txt True %}
{% endif %}

<h1 class="mb-4">{% trans "Game Modes" %}</h1>


<div class="row">
    <h4>{% trans "Practice (no account required)" %}</h4>
    <hr>

    {% card capitals_card %}

    {% card languages_card %}
</div>


<div class="row">
    <h4>{% trans "Competitive (account required)" %}</h4>
    <hr>
    <div class="d-grid gap-2 mb-3">
        <a class="btn btn-outline-primary" href="{% url 'worldle:leaderboards' %}"><i class="bi bi-trophy pe-2"></i>{% trans "Leaderboards" %}</a>
    </div>

    {% card competitive_areas_card %}

    {% card competitive_capitals_card %}

    {% card competitive_currencies_card %}

    {% card competitive_languages_card %}

    {% coming_soon_card %}

</div>


{% endblock content %}
