{% extends "components/_base.html" %}

{% load static %}
{% load macros %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}" />
{% endblock %}


{% block content %}

<h1 class="mb-4">Spielmodi</h1>


<div class="row">
    <h4>Practice (No account required)</h4>
    <hr>

    {% card capitals_card %}

    {% card languages_card %}
</div>


<div class="row">
    <h4>Competitive (Account required)</h4>
    <hr>
    <div class="d-grid gap-2 mb-3">
        <a class="btn btn-outline-primary" href="{% url 'worldle:leaderboards' %}"><i class="bi bi-trophy pe-2"></i>Leaderboards</a>
    </div>

    {% card competitive_areas_card %}

    {% card competitive_capitals_card %}

    {% card competitive_currencies_card %}

    {% card competitive_languages_card %}

    {% coming_soon_card %}

</div>


{% endblock content %}