{% extends "components/_base.html" %}

{% load i18n %}
{% load static %}
{% load macros %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}">

<script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}


{% block content %}

{% region_select region %}

<br>
<br>

<h1 class="mb-4">Languages</h1>

<div class="col-8 mx-auto">
    <div class="text-center">

        <h3>{{ country_name | title }}</h3>

        <br>

        <img src="{% static country_image_name %}" class="img-fluid zoom" style="max-width: 45%;">

        <br>
        <br>
        <br>

        <input class="form-control" type="text" id="userAnswer" placeholder="{% trans 'Enter the language(s)' %}">
        <br>
        <button class="btn btn-primary" onclick="checkAnswer(userAnswerElement, correctAnswer)">{% trans "Check Answer" %}</button>

        <br>
        <br>
        <br>

        <!-- Solution Accordion -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {% trans "Show me the solution" %}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if country_languages %}
                        {{ country_languages }}
                        {% else %}
                        {{ "There is no language. Submit an empty text field." }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    const userAnswerId = "userAnswer"
    let userAnswerElement = document.getElementById(userAnswerId)
    userAnswerElement.focus()

    const correctAnswer = "{{ country_languages | safe }}".trim().toLowerCase()

    addEnterKeyListener(userAnswerElement, correctAnswer)
</script>

{% endblock content %}