{% extends "components/_base.html" %}

{% load i18n %}
{% load static %}
{% load macros %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}" />

<style>
    .rounded-table {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #dee2e6;
    }
</style>
{% endblock %}


{% block content %}

<h1 class="mb-4">{% trans "Leaderboards" %} <i class="bi bi-trophy"></i></h1>



<div class="row">

    {% for leaderboard_config in leaderboard_configs %}
    {% leaderboard leaderboard_config %}
    {% endfor %}

</div>

<script>
    updateAllLeaderboards()
    setInterval(updateAllLeaderboards, 20000)  // Update every 20 seconds

    function updateAllLeaderboards() {
        updateLeaderboard('Areas', '/worldle/leaderboards/areas_highscore/')
        updateLeaderboard('Capitals', '/worldle/leaderboards/capitals_highscore/')
        updateLeaderboard('Currencies', '/worldle/leaderboards/currencies_highscore/')
        updateLeaderboard('Languages', '/worldle/leaderboards/languages_highscore/')
    }

    function updateLeaderboard(tableId, url) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data)

                const tbody = document.querySelector(`#${tableId} tbody`)
                tbody.innerHTML = ""

                data.forEach((user, index) => {
                    const tr = document.createElement("tr")
                    const th = document.createElement("th")
                    th.scope = "row"
                    th.textContent = index + 1

                    const tdUsername = document.createElement("td")
                    tdUsername.textContent = user.username

                    const tdHighscore = document.createElement("td")
                    tdHighscore.textContent = user.highscore

                    tr.appendChild(th)
                    tr.appendChild(tdUsername)
                    tr.appendChild(tdHighscore)

                    tbody.appendChild(tr)
                })

            }).catch(error => console.error('Error:', error))
    }
</script>

{% endblock content %}