{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "dependencies/_bootstrap.html" %}

    {% include "dependencies/_google_fonts.html" %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/eth-logo.ico' %}">

    <title>Email Confirmation</title>
</head>

<body>
    <div class="container col-10">
        <br>
        <br>

        <p>Hello {{ user.username }},</p>

        <p>Please click the link below to confirm your email address and activate your account:</p>

        <div class="text-center">
            <a class="btn btn-primary" href="http://{{ domain }}{% url 'accounts:activate_account' uidb64=uid token=token %}">Activate my account</a>
        </div>

        <br>
        <br>
        <p>If you are having trouble with the button, you can also confirm your email by copying and pasting the following link into your browser:</p>
        <p><a href="http://{{ domain }}{% url 'accounts:activate_account' uidb64=uid token=token %}">http://{{ domain }}{% url 'accounts:activate_account' uidb64=uid token=token %}</a></p>

    </div>


</body>

</html>