{% extends "components/_base.html" %}

{% load i18n %}
{% load static %}
{% load macros %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}" />
{% endblock %}


{% block content %}

{% include "macros/polybox.html" %}

<!--<h1 class="mt-3 mb-4">Übungsstunden</h1>-->

<div class="row">
    {% card tm_card %}

    {# {% card inf_card %} #}

    {% card worldle_card %}
</div>

<h5 class="mt-4 mb-3">{% trans "Useful Links" %}</h5>

<div class="row g-3">
    <div class="col-md-6 col-lg-4">
        {% link_banner link="https://exams.amiv.ethz.ch/" title=_("AMIV new Study Documents") subtitle=_("Latest materials") icon="bi-file-earmark-text" gradient="primary" %}
    </div>
    <div class="col-md-6 col-lg-4">
        {% link_banner link="https://amiv.ethz.ch/en/studies/documents" title=_("AMIV old Study Documents") subtitle=_("Archive") icon="bi-archive" gradient="info" %}
    </div>
    <div class="col-md-6 col-lg-4">
        {% link_banner link="https://polybox.ethz.ch/index.php/s/bJHsmeHpz4i6YZA" title=_("Polybox with additional old exams (especially useful for EM in 4th semester)") subtitle=_("Download") icon="bi-cloud-arrow-down" gradient="warning" %}
    </div>
</div>

<br>

{% endblock content %}