{% extends "components/_base.html" %}

{% load static %}
{% load macros %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/animation.css' %}" />
{% endblock %}


{% block content %}

<h1>Polybox</h1>

<div class="row my-4 px-3">
    <!-- PolyBox Button -->
    <a class="btn btn-outline-primary" href="https://polybox.ethz.ch/index.php/s/C6EVuKd8eAV9TQS" target="_blank">
        <i class="bi bi-cloud-arrow-up-fill pe-2"></i>Zur Polybox</a>
</div>

<br>
<!-- <h1 class="mt-5 mb-4">Übungsstunden</h1> -->

<div class="row">
    {% card tm_card %}

    {% card ph_card %}

    {% card inf_card %}

    {% card worldle_card %}
</div>



{% endblock content %}