[data-bs-theme="dark"] {
    --bs-body-bg: rgb(18, 30, 40) !important;
}

::selection {
    background: #4a525b;
    color: white;
}

.alert-danger::selection {
    background: #d9534f;
    color: white;
}

.alert-warning::selection {
    background: #f0ad4e;
    color: white;
}

.alert-success::selection {
    background: #5cb85c;
    color: white;
}

.alert-primary::selection {
    background: #337ab7;
    color: white;
}

.alert-info::selection {
    background: #5bc0de;
    color: white;
}

.bg-primary ::selection {
    background: #0e62cf;
    color: white;
}

[data-bs-theme="dark"] .bg-body-tertiary {
    background-color: rgb(10, 20, 30) !important;
}

body {
    font-family: "Roboto Serif", "Roboto", Arial, Helvetica, serif;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.is-partial-correct {
    border-color: #ffc107;
    /* Setze die gewünschte Orange/Gelb-Farbe */
}

.is-partial-correct:focus {
    border-color: #ffc107;
    /* Setze die gewünschte Orange/Gelb-Farbe */
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    /* Optional: Füge einen Schatten hinzu */
}
