<!-- {{ title | title }} Card -->
<div class="col-md-6 col-sm-12 mt-2 mb-4">
    <div class="card rounded-3 zoom">
        <a href="{{ link }}">
            <img src="{{ image_path }}" class="card-img rounded-3" style="filter: brightness(70%);" alt="...">
            <div class="card-img-overlay text-white text-center">
                <div style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 90%;">
                    <h2 class="card-title fs-2">{{ title }}</h2>
                    <p class="card-text fs-6 mb-3">{{ description }}</p>
                    <a class="btn btn-light btn-lg {% if disable %} disabled {% endif %}" href="{{ link }}">
                        {{ button_text }}</a>
                </div>
            </div>
        </a>
    </div>
</div>