{% load i18n %}

<!-- Region Select -->
{# <!-- <label for="regionSelect">Choose a region:</label> --> #}
<select class="form-select" id="regionSelect" name="regionSelect" onchange="changeRegion()">
    <option value="worldwide">{% trans "Worldwide" %}</option>
    <option value="africa">{% trans "Africa" %}</option>
    <option value="americas">{% trans "Americas" %}</option>
    <option value="antarctic">{% trans "Antarctic" %}</option>
    <option value="asia">{% trans "Asia" %}</option>
    <option value="europe">{% trans "Europe" %}</option>
    <option value="oceania">{% trans "Oceania" %}</option>
</select>

<script>
    let regionSelect = document.getElementById("regionSelect")
    regionSelect.value = "{{ region }}"  // Set select tag to current region

    function changeRegion() {
        const selectedRegion = regionSelect.value

        let currentURL = window.location.href
        let newURL = currentURL.replace("{{ region }}", selectedRegion)
        // let newURL = currentURL.replace(/\/capital\/[^/]+$/, "/capital/" + selectedRegion)
        window.location.href = newURL
    }
</script>