{% extends "components/_base.html" %}

{% load i18n %}

{% block content %}

<!-- Title -->
<div>
    <h5>{% trans "Engineering Mechanics HS2024" %}</h5>
</div>

<!-- Polybox -->
<div>
    <p>Link zu meiner Polybox... Lösungsvideos von letztem Jahr</p>
    <p>Techmech Skript, Lina de Windt PVK, EE4ETH, Amiv, Felix Stalder, offizielle Lösungsvideos</p>
</div>

<!-- Table -->
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans "Week" %}</th>
                <th scope="col">{% trans "Exercise Materials" %}</th>
                <th scope="col">{% trans "Exercises" %}</th>
                <th scope="col">{% trans "Solutions" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <a class="btn btn-outline-primary">
                        <i class="bi bi-download me-md-2"></i>{% trans "Exercise Material" %}&nbsp;1</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary"><i class="bi bi-download me-md-2"></i>{% trans "Exercise" %}&nbsp;1</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary"><i class="bi bi-download me-md-2"></i>{% trans "Solution" %}&nbsp;1</a>
                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">6</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">7</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">8</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">9</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">10</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">11</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">12</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">13</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">14</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}