{% extends "components/_base.html" %}

{% load i18n %}

{% block content %}

<!-- Title -->
<div>
    <h5>{% trans "Engineering Mechanics HS2024" %}</h5>
</div>

<!-- Polybox -->
<div class="row px-3">
    <!-- PolyBox Button -->
    <a class="btn btn-outline-primary" href="https://polybox.ethz.ch/index.php/s/C6EVuKd8eAV9TQS" target="_blank">
        <i class="bi bi-cloud-arrow-up-fill pe-2"></i>{% trans "To the Polybox" %}</a>
</div>

<div>
    <p>Link zu meiner Polybox... Lösungsvideos von letztem Jahr</p>
    <p>Techmech Skript, Lina de Windt PVK, EE4ETH, Amiv, Felix Stalder, offizielle Lösungsvideos</p>
</div>

<br>

<!-- Table -->
<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">{% trans "Week" %}</th>
                <th scope="col">{% trans "Exercise Materials" %}</th>
                <th scope="col">{% trans "Exercises" %}</th>
                <th scope="col">{% trans "Solutions" %}</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for entry in week_entries %}
            <tr>
                <th scope="row">{{ entry.week_number }}</th>

                <td>
                    <a class="btn btn-outline-primary {% if not entry.has_exercise_materials %}disabled{% endif %}" href="{{ entry.exercise_materials_link }}" target="_blank">
                        <i class="bi bi-download me-md-2"></i>{% trans "Exercise Material" %}&nbsp;{{ entry.week_number }}</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary {% if not entry.has_exercise %}disabled{% endif %}" href="{{ entry.exercise_link }}" target="_blank"><i class="bi bi-download me-md-2"></i>{% trans "Exercise" %}&nbsp;{{ entry.week_number }}</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary {% if not entry.has_solutions %}disabled{% endif %}" href="{{ entry.solutions_link }}" target="_blank"><i class="bi bi-download me-md-2"></i>{% trans "Solution" %}&nbsp;{{ entry.week_number }}</a>
                </td>

            </tr>

            {% if entry.remarks %}
            <tr>
                <td></td>
                <td colspan="3">
                    <p class="fst-italic text-body-secondary">{% trans "Remarks" %}: {{ entry.remarks | safe }}</p>
                </td>
            </tr>
            {% endif %}


            {% endfor %}
        </tbody>
    </table>
</div>

<br>

{% endblock %}