{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fs-5 fixed-top bg-body-tertiary mb-5" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="{% url 'main:home' %}">Enzo Baraldi</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon" data-bs-theme="dark"></span> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- <li class="nav-item ms-3">
                    <a class="nav-link" aria-current="page" href="{% url 'main:home' %}">Home</a>
                </li> -->

                <li class="nav-item ms-3">
                    <a class="nav-link" href="{% url 'main:technische_mechanik' %}">
                        {% trans "Engineering Mechanics" %}
                    </a>
                </li>

                <li class="nav-item ms-3">
                    <a class="nav-link" href="{% url 'worldle:home' %}">
                        Worldle
                    </a>
                </li>

            </ul>

            <!-- Rechtsbündige Buttons -->
            <ul class="navbar-nav ms-auto  align-items-center">
                {% if not user.is_authenticated %}

                <li class="nav-item">
                    <a class="btn btn-primary mx-2 my-1" href="{% url 'accounts:login' %}">
                        {% trans "Login" %}
                    </a>
                    <a class="btn btn-primary mx-2 my-1" href="{% url 'accounts:signup' %}">
                        {% trans "Sign Up" %}
                    </a>
                </li>

                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'accounts:user_account' %}"><i class="bi bi-person-circle"></i> {% trans "My Account" %}</a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-gear"></i> {% trans "Admin Portal" %}</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="bi bi-box-arrow-in-left"></i> {% trans "Logout" %}</a></li>
                    </ul>
                </li>

                {% endif %}


                <li class="nav-item ms-3 my-2">
                    <div class="btn-group btn-group-sm" style="margin-top: auto;">
                        <a href="{% url 'set_language' %}?next=/de{{ request.path|slice:'3:' }}&language=de" class="btn btn-{% if LANGUAGE_CODE != 'de'  %}outline-{% endif %}light">DE</a>
                        <a href="{% url 'set_language' %}?next=/en{{ request.path|slice:'3:' }}&language=en" class="btn btn-{% if LANGUAGE_CODE != 'en'  %}outline-{% endif %}light">EN</a>
                    </div>
                </li>


            </ul>

        </div>
    </div>
</nav>
