{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fs-5 fixed-top bg-body-tertiary mb-5" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4 {% if request.resolver_match.namespace == 'main' and request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'main:home' %}">Enzo Baraldi</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- <li class="nav-item ms-3">
                    <a class="nav-link" aria-current="page" href="{% url 'main:home' %}">Home</a>
                </li> -->

                <li class="nav-item ms-3">
                    <a class="nav-link {% if request.resolver_match.url_name == 'technische_mechanik' %}active{% endif %}" href="{% url 'main:technische_mechanik' %}">
                        {% trans "Engineering Mechanics" %}
                    </a>
                </li>

                <li class="nav-item ms-3">
                    <a class="nav-link {% if request.resolver_match.namespace == 'worldle' and request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'worldle:home' %}">
                        Worldle
                    </a>
                </li>

            </ul>

            <!-- Rechtsbündige Buttons -->
            <ul class="navbar-nav ms-auto  align-items-center">
                {% if not user.is_authenticated %}

                <li class="nav-item">
                    <a class="btn btn-primary mx-2 my-1" href="{% url 'accounts:login' %}">
                        {% trans "Login" %}
                    </a>
                    <a class="btn btn-primary mx-2 my-1" href="{% url 'accounts:signup' %}">
                        {% trans "Sign Up" %}
                    </a>
                </li>

                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'accounts:user_account' %}"><i class="bi bi-person-circle"></i> {% trans "My Account" %}</a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-gear"></i> {% trans "Admin Portal" %}</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="bi bi-box-arrow-in-left"></i> {% trans "Logout" %}</a></li>
                    </ul>
                </li>

                {% endif %}


                <li class="nav-item ms-3 my-2">
                    <div class="btn-group btn-group-sm" style="margin-top: auto;">
                        <button onclick="switchLanguage('de')" class="btn btn-{% if LANGUAGE_CODE != 'de'  %}outline-{% endif %}light">DE</button>
                        <button onclick="switchLanguage('en')" class="btn btn-{% if LANGUAGE_CODE != 'en'  %}outline-{% endif %}light">EN</button>
                    </div>
                    
                    <!-- Hidden form for language switching -->
                    <form id="language-form" method="post" action="{% url 'set_language' %}" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="language" id="language-input">
                        <input type="hidden" name="next" id="next-input">
                    </form>
                    
                    <script>
                    function switchLanguage(lang) {
                        document.getElementById('language-input').value = lang;
                        document.getElementById('next-input').value = '/' + lang + '{{ request.path|slice:"3:" }}';
                        document.getElementById('language-form').submit();
                    }
                    </script>
                </li>


            </ul>

        </div>
    </div>
</nav>
